@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .slider {
        &__img {
            height: 100%;
        }
    }
    .slider {
        width: 600px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 700px;
    }
    .header {
        &-top {
            padding: 30px 0;
        }
        &__search {
            margin: auto;
            &__input {
                max-width: 340px;
            }
        }
        &__menu {
            padding: 22px 0;
            &__link {
                font-size: 12px;
            }
        }
        &__logo {
            width: 130px;
        }
    }
    .hotel {
        &-grid {
            flex-direction: column;
        }
        &-info {
            &__right {
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
            }
            &__map {
                margin-top: 0;
            }
        }
    }
    .slider {
        width: 100%;
    }
    .booking, .map {
        max-width: 340px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
        max-width: 92%;
    }
    .header {
        &__search, &__user, &-navbar  {
            display: none;
        }
    }
    .menu {
        &-button {
            display: flex;
            width: 16px;
            height: 14px;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            &__line {
                width: 16px;
                height: 2px;
                background-color: #333333;
            }
        }
    }
    .hotel {
        &-info {
            &__text {
                width: 100%;
            }
            &__wrapper {
                justify-content: space-between;
            }
            &__offer {
                order: -1;
            }
            &__rating {
                display: none;
            }
            &__title {
                flex-basis: 100%;
            }
            &__right {
                flex-direction: column;
            }
        }
    }
    .swiper {
        height: 20%;
    }
    .stars {
        flex-basis: content;
    }
    .newsletter {
        &-wrapper {
            flex-direction: column;
            align-items:start;
        }
    }
    .subscribe {
        width: 100%;
        &__input {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .logo {
        width: 99px;
    }
    .swiper {
        height: 25%;
    }
}