.header {
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        &__menu-button {
            display: none;
        }
    }
    &__search {
        margin: auto;
        margin-left: 108px;
    }
    &-navbar {
        background: #0A223D;
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        padding: 31px 0;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        &__link {
            text-decoration: none;
            color: #FFF;
        }
    }
}
.logo {
    width: 177px;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    &__input {
        width: 350px;
        background-color: #F5FAFE;
        padding: 12px 0 13px 23px;
        border: none;
        color: var(--Gray-1, #333);
        &:focus {
            outline: none;
        }
    }
    &__button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 25px;
        right: 0;
        border: none;
        border-radius: 0px 6px 6px 0px;
        background: #EC1F46;
    }
}
.user {
    display: flex;
    align-items: center;
    &__img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 18px;
    }
}